.container-pizza {
    display: grid;
    gap: 2rem;
    text-align: center;

    @include responsive-tablet {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: center;
        text-align: left;
    }
}

.h1-text {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.img-container {
    width: 100%;
    border-radius: 0.5rem;
}